/* COADING PART STARTS */
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    height: 100%;
    margin: auto;
}

body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: #f9f9f9;
}
.header{
    color: #000;
    font-size: 56px;
     margin-bottom: 0px !important;
 }
 @media screen and (max-width: 480px){
    .header {
     font-size: 26px;
     margin-bottom: 0px !important;
    }
    .description {
     font-size: 15px !important;
    }
    /*.width-600 {
      //width:200px !important;
    }*/
}	
.description {
    color: #333;
    font-size: 18px;
    text-shadow: none;
}
.fapp{
	letter-spacing: 3px;
	transition: all 0.7s ease 0s;
}
footer {
    background: #222222;
    overflow: hidden;
    position: relative;
    width: 100%;
}	
.bk{
	    box-sizing: border-box;
    background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,0.23) 77%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%,rgba(249,249,249,0.23) 77%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(249,249,249,1) 0%,rgba(249,249,249,0.23) 77%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00ffffff',GradientType=1 );
}
nav ul li a{
  color: black;
}   

nav a{
    color: black !important;
}
.category-apps{
	
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;	
}
.category-apps .featured-app {
    font-size: 16px;
    .category-apps a {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    color: #333;
    display: block;
    float: left;
    font-family: "proxima_novasemibold";
    font-size: 12px;
    font-weight: inherit;
    line-height: 18px;
    margin: 0;
    max-width: 100%;
    min-height: 60px;
    padding: 31px 0;
    position: relative;
    text-transform: uppercase;
    width: 33.333%;
    box-sizing: border-box;
    box-shadow: none;
}
 
 a{
    border: none;
    text-decoration: none;
    /* font-weight: normal; */
}
    line-height: 23px;
    padding: 15px 0 20px;
    width: 66.666%;
}
.category-apps a {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    color: #333;
    display: block;
    float: left;
    font-family: "proxima_novasemibold";
    font-size: 12px;
    font-weight: inherit;
    line-height: 18px;
    margin: 0;
    max-width: 100%;
    min-height: 60px;
    padding: 31px 0;
    position: relative;
    text-transform: uppercase;
    width: 33.333%;
    box-sizing: border-box;
    box-shadow: none;
}
 
 a{
    border: none;
    text-decoration: none;
    /* font-weight: normal; */
}


.category-apps a.featured-app span {
    height: 60px;
    width: 64px;
}

.featured-app .pi1 {
    background-position: left -205px;
    margin-bottom: 5px;
}

.category-apps a span {
    background-image: url(../images/crm.jpg);
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    margin: 0 auto 10px;
    text-indent: -999em;
    width: 30px;
}

/*  FOOTER PART */
.footer {
	background: #222222;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.footer-banner {
	width: 30%;
	float: left;
	text-align: center;
	padding: 100px 0;
}
.footer-banner-inner {
	margin: 40px auto 0;
	max-width: 300px;
	position: relative;
}
.footer-banner-inner h4 {
	color: #fff;
	font-size: 24px;
	font-weight: inherit;
	line-height: 32px;
	margin: 15px 0 5px;
}
.footer-banner-inner span {
	color: #1894ea;
	display: block;
	font-family: "proxima_novasemibold";
	font-size: 12px;
	font-weight: inherit;
	margin: 0 auto;
	text-transform: uppercase;
}
.footer-banner-inner .playicon {
	border: 2px solid #fff;
	border-radius: 100%;
	display: block;
	height: 30px;
	left: 50%;
	margin: 0 0 0 -17px;
	position: absolute;
	right: 0;
	top: 30%;
	width: 30px;
}
.footer-banner-inner .playicon::after {
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	content: "";
	height: 0;
	left: 13px;
	position: absolute;
	top: 8px;
	width: 0;
}
.footer-part {
	float: left;
	padding: 100px 0;
	/* text-align: left; */
	width: 70%;
	background: #333;
}
.footer-links {
	/* border-bottom: 1px solid #444; */
	margin: 0 5%;
	max-width: 900px;
	overflow: hidden;
	padding: 0 0 50px;
	margin-bottom: 50px;
}
.footer-links ul {
	float: left;
	overflow: hidden;
	width: 29%
}
.footer-links ul:nth-child(3), .footer-links ul:nth-child(4) {
	float: left;
	overflow: hidden;
	width: 21%
}
.footer-links li {
	color: #aaa;
	font-family: 'proxima_novasemibold';
	font-weight: inherit;
	padding: 5px 0;
	line-height: 14px;
	font-size: 14px
}
.footer-links .apps-links li:first-child {
	text-transform: none;
	font-family: 'proxima_novasemibold';
	padding: 0 0 5px 0;
}
.footer-links li:first-child {
	padding: 0 0 12px 0;
	text-transform: uppercase;
	font-family: 'proxima_nova_rgbold';
	font-weight: inherit;
}
.footer-links li a {
	color: #999;
	font-size: 13px;
	line-height: 16px
}
.common-footer {
	margin: 0 5%;
	max-width: 900px;
	padding: 0;
	text-align: left;
}
.common-footer p {
	color: #999;
	font-family: "proxima_novasemibold";
	font-size: 12px;
	line-height: 18px;
	padding: 20px 0 0;
}
.common-footer ul {
	margin: 0 auto 5px;
	overflow: hidden;
}
.common-footer li {
	border-left: 1px solid #444;
	display: inline-block;
	line-height: 0;
	overflow: hidden;
	padding: 0px 12px
}
.common-footer li:first-child {
	border-left: medium none;
	padding: 0 12px 0 0;
}
.common-footer li a {
	color: #999;
	font-size: 12px;
	line-height: 14px;
	font-family: 'proxima_novasemibold';
	font-weight: inherit;
}
.social-icons {
	display: inline;
	padding: 5px 0 0;
	margin-left: -10px;
}
.si1, .si2, .si3 {
	width: 20px;
	height: 20px
}
.si1 {
	background-image: url(../facebook.png);
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    margin: 0 auto 10px;
    text-indent: -999em;
    width: 30px;
	background-position: -324px -69px;
}
.si2 {
	background-position: -300px -69px;
}
.si3 {
	background-position: -348px -69px;
}
.social-icons a {
	line-height: 0;
	margin: 0 8px;
	text-align: center
}
.footer-zohologo a {
	background-position: -114px -71px;
	height: 25px;
	margin: 15px 0 0;
	width: 75px
}
/* FOOTER PART ENDS */
